@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

html, body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

#app {
    height: 100%;
}

p {
    font-size: 14px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

.completed {
        background-color: var(--color-green-500);
}

.uncompleted {
    background-color: var(--color-yellow-600);
}